.App {
  text-align: center;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d55959;
}
